# Ignore the virtual environment
.venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env


# Ignore logs
*.log
logs/

# Ignore IDE & OS files
.vscode/
.DS_Store
